
.container-fluid {
    padding: 20px 20px 40px;
    border-bottom:1.4px solid rgba(0,0,0,0.09)
}

#welcome {
    padding: 10px
}

.container {
    height: 200px
}

.border {
    width: 500px;
    margin:auto;
    box-shadow: 0 2px 17px 0 rgba(0, 0, 0, 0.35)
}

.form-check-inline {
    padding: 20px
}

.checkboxes {
    padding : 10px
}

